# Node modules
node_modules/

# ไฟล์ล็อกของ npm
npm-debug.log
yarn-debug.log
yarn-error.log

# ไฟล์ build ที่อาจจะไม่ต้องการให้รวมใน Docker image
dist/

# ไฟล์การตั้งค่าของ IDE เช่น VSCode
.vscode/

# ไฟล์ที่เก็บข้อมูลลับ เช่น credentials, .env

*.pem

# ไฟล์ระบบที่ไม่จำเป็น
.DS_Store
